![Practicum AI Logo image](https://github.com/PracticumAI/practicumai.github.io/blob/main/images/logo/PracticumAI_logo_250x50.png?raw=true)  <img src='https://github.com/PracticumAI/practicumai.github.io/blob/main/images/icons/practicumai_python.png?raw=true' align='right' width=50>

# *Practicum AI Python*: Data Wrangling

This exercise adapted from Lipp et al. (2020) <i>The Data Wrangling Workshop</i> from <a href="https://www.packtpub.com/product/the-data-wrangling-workshop-second-edition/9781839215001">Packt Publishers</a> and the <a href="https://github.com/swcarpentry/python-novice-gapminder">Software Carpentries</a>

(20 Minutes: Presentation)

***

<img src='images/universe.png' align='left' width=150 alt='A bunch of planets and stars'> In the previous notebooks, we have focused on Python fundamentals that have hopefully given you a flavor of Python, coding, and working in Jupyter. There is a **lot** more to Python, and we have more to cover, but this transitions to being more focused on the applications of data science and artificial intelligence that will be covered in the rest of the *Practicum AI* curriculum. **We are only introducing a small portion of the Python universe!** Python is used for everything from games and art to AI and scientific discovery. Our goal is not to make you a Python programmer, but it start you learning enough to continue learning what you need to accomplish your goals.

In this section, we will start to explore [Pandas](https://pandas.pydata.org/), one of the main data manipulation fraeworks. <img src='images/pandas_logo.png' alt='The Pandas logo' align='right' width=200>

The developers of Pandas describe it as:

 > pandas is a fast, powerful, flexible and easy to use open source data analysis and manipulation tool,
built on top of the Python programming language.


## 1. Pandas Dataframes

Pandas provides one of the most useful data structures for managing data: the dataframe. Pandas dataframes allow fast, flexible, and efficient data manipulation. Dataframes are the natural data structure for tabular data.

A [DataFrame](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.html) (2 dimensional--rows and columns) is a collection of [Series](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.html) (1 dimensional). The DataFrame is the way Pandas represents a table, and Series is the data-structure Pandas use to represent a column.

Pandas is built on top of the [Numpy](http://www.numpy.org/) library, which in practice means that most of the methods defined for Numpy Arrays apply to Pandas Series/DataFrames.

What makes Pandas so attractive is the powerful interface to access individual records of the table, proper handling of missing values, and relational-databases operations between DataFrames.

## 2. Creating a series

We will start with making a Pandas series. Both Numpy and Pandas are usually imported with abbreviated aliases, `np` and `pd`.

In [2]:
import numpy as np
import pandas as pd

In [3]:
# Make some standard Python lists, a numpy array and a dictionary

labels = ['a', 'b', 'c']
my_data = [10,20,30]
array_1 = np.array(my_data)
d = {'a':10, 'b':20, 'c':30}

In [4]:
# Create a series from my_data

pd.Series(my_data)

0    10
1    20
2    30
dtype: int64

In [5]:
# Create a series from labels

pd.Series(labels)

0    a
1    b
2    c
dtype: object

## 3. Creating Pandas Dataframes

Now that we've seen series, we can look at how these are combined as columns in tables.

While we will start with the common name `df` for our dataframe, like any variable name, it helps if it meaningful! Again, there is nothing special about the name `df`, but you will see it used everywhere...

In [6]:
df = pd.DataFrame(data=my_data, index=labels, columns=['Data'])
df

   Data
a    10
b    20
c    30

In [7]:
# Make some random numbers for data. 

# This makes an array of random integers from 1-10, then reshapes it into a 5x4 matrix
data = np.random.randint(1,10, size=20).reshape(5,4)

# Make row and colum labels
row_labels = ['A', 'B', 'C', 'D', 'E']  # need 5 rows
column_headings = ['W', 'X', 'Y', 'Z']  # need 4 columns

In [8]:
df = pd.DataFrame(data=data, index=row_labels,
                 columns=column_headings)
df

   W  X  Y  Z
A  9  1  7  5
B  5  1  5  7
C  3  7  2  3
D  5  5  5  8
E  1  1  2  8

## 4. Viewing Parts of a Dataframe

Dataframes frequently hold lots of data and we want to explore them without getting pages of output.

In [9]:
# Make a slightly larger dataframe to work with

data = np.random.randint(1,100,100).reshape(25,4)

df = pd.DataFrame(data=data, columns=column_headings)

In [10]:
# View the 1st 5 rows
df.head()

    W   X   Y   Z
0  11  41  77  82
1  47  43  50   1
2  35  24  50  37
3  57  67   8  34
4  85  59  11  52

In [11]:
# View the last 3 rows (head also takes a number or rows as an optional argument)
df.tail(3)

     W   X   Y   Z
22   4  56  80  37
23  81  42  73  63
24  52  68  86  10

In [12]:
# View the X column (only works if there are no spaces in the column names!)
df.X

0     41
1     43
2     24
3     67
4     59
5     89
6     31
7     93
8      4
9     49
10    63
11    76
12    94
13    87
14    65
15    33
16    52
17    92
18    97
19    37
20    47
21     9
22    56
23    42
24    68
Name: X, dtype: int64

In [13]:
# View multiple columns or if there are spaces in names
# Note the double square brackets!
df[['X', 'Z']].head()

    X   Z
0  41  82
1  43   1
2  24  37
3  67  34
4  59  52

## 5. Creating a Dataframe From a File

One of the great things about Pandas is how easy it is to load tabular data from a file into a dataframe. There are functions to load data from csv (comma separated value) files, Excel files, and even directly from files on the web.

Here, we'll load a dataset from the `data` folder and look at the `head()`

In [19]:
# Remember, df, is just a name, we can use whatever name we want...

gapminder = pd.read_csv('data/gapminder_gdp_europe.csv', index_col='country')
gapminder.head()

,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
country,,,,,,,,,,,,
Albania,1601.056136,1942.284244,2312.888958,2760.196931,3313.422188,3533.003910,3630.880722,3738.932735,2497.437901,3193.054604,4604.211737,5937.029526
Austria,6137.076492,8842.598030,10750.721110,12834.602400,16661.625600,19749.422300,21597.083620,23687.826070,27042.018680,29095.920660,32417.607690,36126.492700
Belgium,8343.105127,9714.960623,10991.206760,13149.041190,16672.143560,19117.974480,20979.845890,22525.563080,25575.570690,27561.196630,30485.883750,33692.605080
Bosnia and Herzegovina,973.533195,1353.989176,1709.683679,2172.352423,2860.169750,3528.481305,4126.613157,4314.114757,2546.781445,4766.355904,6018.975239,7446.298803
Bulgaria,2444.286648,3008.670727,4254.337839,5577.002800,6597.494398,7612.240438,8224.191647,8239.854824,6302.623438,5970.388760,7696.777725,10680.792820

## 6. Indexing and Slicing

To access the value of a particular cell of a DataFrame, we have two options, depending on what information we have. 

Columns and rows exist in an order, and can be accessed similarly to lists using numeric indices (counting from 0). Columns and rows can also have labeled names (as in the country indices in the `gapmanider` dataframe above).

We'll start with two examples. Let's imagine we want to get the value from row 4, column X from a dataframe. First, we need to remember that Python uses 0-based indexing. So, the 4th row is row index 3, and X is column index 1.

In [15]:
# Create and display a dataframe for the example

data = np.random.randint(1,100, size=20).reshape(5,4)

# Make row and colum labels
row_labels = ['A', 'B', 'C', 'D', 'E']  # need 5 rows
column_headings = ['W', 'X', 'Y', 'Z']  # need 4 columns

df = pd.DataFrame(data=data, index=row_labels,
                 columns=column_headings)
df

    W   X   Y   Z
A  21  43  62  87
B  12   5   5  56
C  11  47  92  30
D  65  38  41  84
E  42  62  27   4

In [16]:
# Get the value from for the 4th row, colum X using iloc

df.iloc[3,1]

38

In [17]:
# Get the value from for the 4th row, colum X using loc

df.loc['D', 'X']

38

`iloc` and `loc` can oth be useful at different times. Learning to use each will help you as you go.

### 6.1. Select multiple columns or rows using `DataFrame.loc` and a named slice

In [21]:
gapminder.loc['Italy':'Poland', 'gdpPercap_1962':'gdpPercap_1972']

             gdpPercap_1962  gdpPercap_1967  gdpPercap_1972
country
Italy           8243.582340    10022.401310    12269.273780
Montenegro      4649.593785     5907.850937     7778.414017
Netherlands    12790.849560    15363.251360    18794.745670
Norway         13450.401510    16361.876470    18965.055510
Poland          5338.752143     6557.152776     8006.506993

In the above code, we discover that **slicing using `loc` is inclusive at both ends**, which differs from **slicing using `iloc`, where slicing indicates everything up to but not including the final index**.

In [22]:
df.iloc[0:3,0:3]

    W   X   Y
A  21  43  62
B  12   5   5
C  11  47  92

### 6.2. Result of slicing can be used in further operations

* SLices are most typically used to select portions of data tables, not simply print them
* All the statistical operators that work on entire dataframes work the same way on slices.
* E.g., calculate max of a slice.

In [26]:
gapminder.loc['Italy':'Poland', 'gdpPercap_1962':'gdpPercap_1972'].max()

gdpPercap_1962    13450.40151
gdpPercap_1967    16361.87647
gdpPercap_1972    18965.05551
dtype: float64

In [25]:
gapminder.loc['Italy':'Poland', 'gdpPercap_1962':'gdpPercap_1972'].min()

gdpPercap_1962    4649.593785
gdpPercap_1967    5907.850937
gdpPercap_1972    7778.414017
dtype: float64

## 7. Use comparisons to select data based on value

* Comparison is applied element by element.
* Returns a similarly-shaped dataframe of `True` and `False`.

In [27]:
# Use a subset of data to keep output readable.
subset = gapminder.loc['Italy':'Poland', 'gdpPercap_1962':'gdpPercap_1972']
print('Subset of data:\n', subset)

# Which values were greater than 10000 ?
print('\nWhere are values large?\n', subset > 10000)

Subset of data:
              gdpPercap_1962  gdpPercap_1967  gdpPercap_1972
country
Italy           8243.582340    10022.401310    12269.273780
Montenegro      4649.593785     5907.850937     7778.414017
Netherlands    12790.849560    15363.251360    18794.745670
Norway         13450.401510    16361.876470    18965.055510
Poland          5338.752143     6557.152776     8006.506993

Where are values large?
              gdpPercap_1962  gdpPercap_1967  gdpPercap_1972
country
Italy                 False            True            True
Montenegro            False           False           False
Netherlands            True            True            True
Norway                 True            True            True
Poland                False           False           False

## 8. Creating and deleting new rows and columns

We can add and remove rows and columns in our dataframes.

Let's add a column with the change in per capita GDP from 1962 to 2007 to our `gapminder` dataframe

In [36]:
gapminder['gdpChange'] = gapminder['gdpPercap_2007'] - gapminder['gdpPercap_1962']

gapminder.head()

,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007,gdpChange
country,,,,,,,,,,,,,
Albania,1601.056136,1942.284244,2312.888958,2760.196931,3313.422188,3533.003910,3630.880722,3738.932735,2497.437901,3193.054604,4604.211737,5937.029526,3624.140568
Austria,6137.076492,8842.598030,10750.721110,12834.602400,16661.625600,19749.422300,21597.083620,23687.826070,27042.018680,29095.920660,32417.607690,36126.492700,25375.771590
Belgium,8343.105127,9714.960623,10991.206760,13149.041190,16672.143560,19117.974480,20979.845890,22525.563080,25575.570690,27561.196630,30485.883750,33692.605080,22701.398320
Bosnia and Herzegovina,973.533195,1353.989176,1709.683679,2172.352423,2860.169750,3528.481305,4126.613157,4314.114757,2546.781445,4766.355904,6018.975239,7446.298803,5736.615124
Bulgaria,2444.286648,3008.670727,4254.337839,5577.002800,6597.494398,7612.240438,8224.191647,8239.854824,6302.623438,5970.388760,7696.777725,10680.792820,6426.454981

We can **drop** columns. Let's say, we determined that there was something wrong with the 1992 data and we want to get rid of the column

In [39]:
gapminder.drop('gdpPercap_1992', axis=1)

gapminder.head()

,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007,gdpChange
country,,,,,,,,,,,,,
Albania,1601.056136,1942.284244,2312.888958,2760.196931,3313.422188,3533.003910,3630.880722,3738.932735,2497.437901,3193.054604,4604.211737,5937.029526,3624.140568
Austria,6137.076492,8842.598030,10750.721110,12834.602400,16661.625600,19749.422300,21597.083620,23687.826070,27042.018680,29095.920660,32417.607690,36126.492700,25375.771590
Belgium,8343.105127,9714.960623,10991.206760,13149.041190,16672.143560,19117.974480,20979.845890,22525.563080,25575.570690,27561.196630,30485.883750,33692.605080,22701.398320
Bosnia and Herzegovina,973.533195,1353.989176,1709.683679,2172.352423,2860.169750,3528.481305,4126.613157,4314.114757,2546.781445,4766.355904,6018.975239,7446.298803,5736.615124
Bulgaria,2444.286648,3008.670727,4254.337839,5577.002800,6597.494398,7612.240438,8224.191647,8239.854824,6302.623438,5970.388760,7696.777725,10680.792820,6426.454981

**What happened?? `gdpPercap_1992` is still there!!**

<div style="padding: 10px;margin-bottom: 20px;border: thin solid #E5C250;border-left-width: 10px;background-color: #fff">
    <p><strong>Tip:</strong> Unless you specify <code>inplace=True</code> or assign the dataframe back to itself (or a different variable name) <strong>the <code>drop</code> method does not change the original dataframe!!</strong></p>
   </div>

In [40]:
# Redo above, assigning result to gapminder

gapminder = gapminder.drop('gdpPercap_1992', axis=1)

gapminder.head()

,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007,gdpChange
country,,,,,,,,,,,,
Albania,1601.056136,1942.284244,2312.888958,2760.196931,3313.422188,3533.003910,3630.880722,3738.932735,3193.054604,4604.211737,5937.029526,3624.140568
Austria,6137.076492,8842.598030,10750.721110,12834.602400,16661.625600,19749.422300,21597.083620,23687.826070,29095.920660,32417.607690,36126.492700,25375.771590
Belgium,8343.105127,9714.960623,10991.206760,13149.041190,16672.143560,19117.974480,20979.845890,22525.563080,27561.196630,30485.883750,33692.605080,22701.398320
Bosnia and Herzegovina,973.533195,1353.989176,1709.683679,2172.352423,2860.169750,3528.481305,4126.613157,4314.114757,4766.355904,6018.975239,7446.298803,5736.615124
Bulgaria,2444.286648,3008.670727,4254.337839,5577.002800,6597.494398,7612.240438,8224.191647,8239.854824,5970.388760,7696.777725,10680.792820,6426.454981

In [42]:
# Use inplace=True to drop gdpPercap_1957

gapminder.drop('gdpPercap_1957', axis=1, inplace=True)

gapminder.head()

,gdpPercap_1952,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007,gdpChange
country,,,,,,,,,,,
Albania,1601.056136,2312.888958,2760.196931,3313.422188,3533.003910,3630.880722,3738.932735,3193.054604,4604.211737,5937.029526,3624.140568
Austria,6137.076492,10750.721110,12834.602400,16661.625600,19749.422300,21597.083620,23687.826070,29095.920660,32417.607690,36126.492700,25375.771590
Belgium,8343.105127,10991.206760,13149.041190,16672.143560,19117.974480,20979.845890,22525.563080,27561.196630,30485.883750,33692.605080,22701.398320
Bosnia and Herzegovina,973.533195,1709.683679,2172.352423,2860.169750,3528.481305,4126.613157,4314.114757,4766.355904,6018.975239,7446.298803,5736.615124
Bulgaria,2444.286648,4254.337839,5577.002800,6597.494398,7612.240438,8224.191647,8239.854824,5970.388760,7696.777725,10680.792820,6426.454981

## 9. Select values or `NaN` using a Boolean mask

<div style="padding: 10px;margin-bottom: 20px;border: thin solid #65BB7B;border-left-width: 10px;background-color: #fff"><strong>Instructor Note:</strong> Sections 9 & 10 are optional.</div>



* A frame full of Booleans is sometimes called a *mask* because of how it can be used.

In [30]:
mask = subset > 10000
subset[mask]

             gdpPercap_1962  gdpPercap_1967  gdpPercap_1972
country
Italy                   NaN     10022.40131     12269.27378
Montenegro              NaN             NaN             NaN
Netherlands     12790.84956     15363.25136     18794.74567
Norway          13450.40151     16361.87647     18965.05551
Poland                  NaN             NaN             NaN

* Get the value where the mask is true, and NaN (Not a Number) where it is false.
* Useful because NaNs are ignored by operations like max, min, average, etc.

In [31]:
subset[subset > 10000].describe()

       gdpPercap_1962  gdpPercap_1967  gdpPercap_1972
count        2.000000        3.000000        3.000000
mean     13120.625535    13915.843047    16676.358320
std        466.373656     3408.589070     3817.597015
min      12790.849560    10022.401310    12269.273780
25%      12955.737548    12692.826335    15532.009725
50%      13120.625535    15363.251360    18794.745670
75%      13285.513522    15862.563915    18879.900590
max      13450.401510    16361.876470    18965.055510

## 10. Select-Apply-Combine operations

Pandas vectorizing methods and grouping operations are features that provide users much flexibility to analyze their data.

For instance, let's say we want to have a clearer view on how the European countries split themselves according to their GDP.

1. We may have a glance by splitting the countries in two groups during the years surveyed, those who presented a GDP *higher* than the European average and those with a *lower* GDP.
2. We then estimate a *wealthy score* based on the historical (from 1962 to 2007) values, where we account how many times a country has participated in the groups of *lower* or *higher* GDP

In [34]:
mask_higher = gapminder.apply(lambda x:x>x.mean())
wealth_score = mask_higher.aggregate('sum',axis=1)/len(gapminder.columns)
wealth_score

country
Albania                   0.000000
Austria                   1.000000
Belgium                   1.000000
Bosnia and Herzegovina    0.000000
Bulgaria                  0.000000
Croatia                   0.000000
Czech Republic            0.500000
Denmark                   1.000000
Finland                   1.000000
France                    1.000000
Germany                   1.000000
Greece                    0.333333
Hungary                   0.000000
Iceland                   1.000000
Ireland                   0.333333
Italy                     0.500000
Montenegro                0.000000
Netherlands               1.000000
Norway                    1.000000
Poland                    0.000000
Portugal                  0.000000
Romania                   0.000000
Serbia                    0.000000
Slovak Republic           0.000000
Slovenia                  0.333333
Spain                     0.333333
Sweden                    1.000000
Switzerland               1.000000
Turkey                    0.000000
United Kingdom            1.000000
dtype: float64

Finally, for each group in the `wealth_score` table, we sum their (financial) contribution across the years surveyed:

In [35]:
gapminder.groupby(wealth_score).sum()

,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
0.000000,36916.854200,46110.918793,56850.065437,71324.848786,88569.346898,104459.358438,113553.768507,119649.599409,92380.047256,103772.937598,118590.929863,149577.357928
0.333333,16790.046878,20942.456800,25744.935321,33567.667670,45277.839976,53860.456750,59679.634020,64436.912960,67918.093220,80876.051580,102086.795210,122803.729520
0.500000,11807.544405,14505.000150,18380.449470,21421.846200,25377.727380,29056.145370,31914.712050,35517.678220,36310.666080,40723.538700,45564.308390,51403.028210
1.000000,104317.277560,127332.008735,149989.154201,178000.350040,215162.343140,241143.412730,263388.781960,296825.131210,315238.235970,346930.926170,385109.939210,427850.333420

***

## Bonus Questions

#### Q1: Selection of Individual Values

Assume Pandas has been imported into your notebook and the Gapminder GDP data for Europe has been loaded:

In [ ]:
import pandas

df = pandas.read_csv('data/gapminder_gdp_europe.csv', index_col='country')

Write an expression to find the Per Capita GDP of Serbia in 2007.

**Solution**

Click on the '...' below to show the solution.

In [1]:
# The selection can be done by using the labels for both the row ("Serbia") and 
# the column ("gdpPercap_2007"):

print(df.loc['Serbia', 'gdpPercap_2007'])

# The output is:

9786.534714

#### Q2: Extent of Slicing

1. Do the two statements below produce the same output?
2. Based on this, what rule governs what is included (or not) in numerical slices and named slices in Pandas?

In [ ]:
print(data.iloc[0:2, 0:2])
print(data.loc['Albania':'Belgium', 'gdpPercap_1952':'gdpPercap_1962'])

**Solution**

Click on the '...' below to show the solution.

In [2]:
# No, they do not produce the same output! The output of the first statement is:

        gdpPercap_1952  gdpPercap_1957
country                                
Albania     1601.056136     1942.284244
Austria     6137.076492     8842.598030

# The second statement gives:

        gdpPercap_1952  gdpPercap_1957  gdpPercap_1962
country                                                
Albania     1601.056136     1942.284244     2312.888958
Austria     6137.076492     8842.598030    10750.721110
Belgium     8343.105127     9714.960623    10991.206760

# Clearly, the second statement produces an additional column and an additional 
# row compared to the first statement.  What conclusion can we draw? We see that 
# a numerical slice, 0:2, omits the final index (i.e. index 2) in the range 
# provided, while a named slice, gdpPercap_1952 : gdpPercap_1962 , includes 
# the final element.

#### Q3: Reconstructing Data

Explain what each line in the following short program does: what is in first, second, etc.?

In [ ]:
Explain what each line in the following short program does: what is in first, second, etc.?

first = pandas.read_csv('data/gapminder_all.csv', index_col='country')
second = first[first['continent'] == 'Americas']
third = second.drop('Puerto Rico')
fourth = third.drop('continent', axis = 1)
fourth.to_csv('result.csv')

**Solution**

Click on the '...' below to show the solution.

In [3]:
# Let's go through this piece of code line by line.

first = pandas.read_csv('data/gapminder_all.csv', index_col='country')

# This line loads the dataset containing the GDP data from all countries into a 
# dataframe called `first`. The `index_col='country'` parameter selects which 
# column to use as the row labels in the dataframe.  

second = first[first['continent'] == 'Americas']

# This line makes a selection: only those rows of `first` for which the 
# 'continent' column matches 'Americas' are extracted. Notice how the Boolean 
# expression inside the brackets, `first['continent'] == 'Americas'`, is used 
# to select only those rows where the expression is true. Try printing this 
# expression! Can you print also its individual True/False elements? (hint: 
# first assign the expression to a variable) 

third = second.drop('Puerto Rico')

# As the syntax suggests, this line drops the row from `second` where the label 
# is 'Puerto Rico'. The resulting dataframe `third` has one row less than the 
# original dataframe `second`.

fourth = third.drop('continent', axis = 1)

# Again we apply the drop function, but in this case we are dropping not a row 
# but a whole column. To accomplish this, we need to specify also the `axis` 
# parameter (we want to drop the second column which has index 1).

fourth.to_csv('result.csv')

# The final step is to write the data that we have been working on to a csv 
# file. Pandas makes this easy with the `to_csv()` function. The only required 
# argument to the function is the filename. Note that the file will be written 
# in the directory from which you started the Jupyter or Python session.

#### Q4: Selecting Indices

Explain in simple terms what idxmin and idxmax do in the short program below. When would you use these methods?

In [ ]:
data = pandas.read_csv('data/gapminder_gdp_europe.csv', index_col='country')
print(data.idxmin())
print(data.idxmax())

**Solution**

Click on the '...' below to show the solution.

In [4]:
# For each column in `data`, `idxmin` will return the index value corresponding 
# to each column's minimum; `idxmax` will do accordingly the same for each 
# column's maximum value.

# You can use these functions whenever you want to get the row index of the 
# minimum/maximum value and not the actual minimum/maximum value.

#### Q5: Practice with Selection

Assume Pandas has been imported and the Gapminder GDP data for Europe has been loaded. Write an expression to select each of the following:

1. GDP per capita for all countries in 1982.
2. GDP per capita for Denmark for all years.
3. GDP per capita for all countries for years after 1985.
4. GDP per capita for each country in 2007 as a multiple of GDP per capita for that country in 1952.

**Solution**

Click on the '...' below to show the solution.

In [5]:
# 1. -------------------------------------
data['gdpPercap_1982']

# 2. -------------------------------------
data.loc['Denmark',:]

# 3. -------------------------------------
data.loc[:,'gdpPercap_1985':]

# Pandas is smart enough to recognize the number at the end of the column label 
# and does not give you an error, although no column named `gdpPercap_1985` 
# actually exists. This is useful if new columns are added to the CSV file later.

# 4. -------------------------------------
data['gdpPercap_2007']/data['gdpPercap_1952']

#### Q6: Using `dir` function to see available methods

Python includes a `dir` function that can be used to display all of the available methods (functions) that are built into a data object.  As an example, the  functions available for a [list data type](https://docs.python.org/3/tutorial/datastructures.html#more-on-lists) are:

In [ ]:
potatoes = ["Russet", "Norkota", "Yukon Gold", "Pontiac"]
dir(potatoes)

This command returns:

In [ ]:
['__add__',
...
'__subclasshook__',
'append',
'clear',
'copy',
'count',
'extend',
'index',
'insert',
'pop',
'remove',
'reverse',
'sort']

The double underscore functions can be ignored for now; functions that are not surrounded by double underscores are the *public interface* of the [list type](https://docs.python.org/3/tutorial/datastructures.html#more-on-lists). So, if you want to sort the list of potatoes, according to `dir` you should try,

In [ ]:
potatoes.sort()

Assume Pandas has been imported and the Gapminder GDP data for Europe has been loaded as `data`.  Then, use `dir` to find the function that prints out the median per-capita GDP across all European countries for each year that information is available.

**Solution**

Click on the '...' below to show the solution.

In [6]:
# Among many choices, dir lists the `median()` function as a possibility.  Thus,

data.median()